
/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
  font-variation-settings:
    "wdth" <100>;
}
.nav-title{
    color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.r{
    color: #491188;
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul{
    display: flex;
    align-items: center;

    

}

.btn-primary{
    flex-shrink: 0;
    border-radius: 55px;
    background: #491188;
    border: none;
    color: var(--White-Color, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 32px;
}

.btn-primary-btn-resume{
    flex-shrink: 0;
    border-radius: 55px;
    background: #491188;
    border: none;
    color: var(--White-Color, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 32px;
    margin-right: 20px;
}

.btn-primary-btn-projects{
    flex-shrink: 0;
    border-radius: 55px;
    background: #491188;
    border: none;
    color: var(--White-Color, #FFF);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px 32px;
}

/* banner styles */

.banner-greetings{
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   margin-bottom: 5px;
}

.banner-title{
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}


.banner-description{
    width: 680px;
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.profile-picture{
    width: 450px;
    height: 500px;
    flex-shrink: 0;
    
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 120px 0 120px;
    background-image: url('../images/Group\ 9.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;

}

.banner-content{
    max-width: 580px;
}

.section-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.section-description{
    /* align-self: stretch; */
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.secondary-background{ 
    /* border-radius: 10px; */
    background: #e4d2f986;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

/* mains styles */
main{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.item-description{
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.about-section{
    border: #181818;
    border-radius: 10px;
}

.text-center{
    text-align: center;
    margin-bottom: 5px;

}

/* Skills Section Styles */
.skills-container {
    display: flex;
    gap: 24px;
}
.skill{
    flex-shrink: 0;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.skill-description{
    width: 201px;
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}